{namespace c=Comnerds\JpfaqComments\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">

  <f:flashMessages />

  <f:if condition="{0:showSearchForm} == {0:1}"><f:render partial="searchForm" /></f:if>

  <h2 class="jpfaqCategory">{category}</h2>

  <div class="jpfaqAll">
    <div class="jpfaqShowAll jpfaqShow{categoryUid}"><f:translate key="tx_jpfaqcomments.showAnswers" /></div>
    <div class="jpfaqHideAll jpfaqHide{categoryUid}"><f:translate key="tx_jpfaqcomments.hideAnswers" /></div>
  </div>

  <ul class="listCategory{categoryUid}">
    <f:for each="{questions}" as="question">
      <li>
	<h3 class="toggleQuestionTrigger toggleQuestionTrigger{question.uid}">{question.question}</h3>
	<div class="toggleQuestionTriggerContainer toggleQuestionTriggerContainer{categoryUid}">
	  <div class="jpfaqAnswer"><f:format.html>{question.answer}</f:format.html></div>
	  <div class="showCommentsTrigger"><f:translate key="tx_jpfaqcomments.showComments" /> (<f:count subject="{question.comments}" />)</div>
	  <div class="hideCommentsTrigger"><f:translate key="tx_jpfaqcomments.hideComments" /></div>
	  <hr />
	  <div class="commentContainer">
	    <ul class="listComments">
	      <f:for each="{question.comments}" as="comment">
		<div class="jpfaqComment">
		  <c:commentUser user="{comment.user}" /> {comment.commentdate -> f:format.date()}<br />
		{comment.comment}
		<f:if condition="{comment.image}">
            <a href="{f:uri.image(src: comment.image)}" class="lightbox">
                <f:image src="{comment.image}" alt="" height="100" class="comment_image" />
            </a>
		</f:if>
		</div>
	      </f:for>
	    </ul>
	    <div class="newCommentForm">
	      <f:form action="createComment" name="createComment{question.uid}" enctype="multipart/form-data">
		<f:form.hidden name="qid" value="{question.uid}" />
		<f:form.textarea cols="20" rows="5" name="comment" />
		<f:form.upload name="image" />
		<f:form.submit value="{f:translate(key:'tx_jpfaqcomments.submitComment')}" class="btn btn-default btn-info" />
	      </f:form>
	    </div>
	  </div>
	</div>
      </li>
    </f:for>
  </ul>

</f:section>
