<f:layout name="Default" />

<f:section name="main">

  <f:flashMessages />

  <f:if condition="{0:showSearchForm} == {0:1}"><f:render partial="searchForm" /></f:if>

  <h2 class="jpfaqCategory">{category}</h2>

  <div class="jpfaqAll">
    <div class="jpfaqShowAll jpfaqShow{categoryUid}"><f:translate key="tx_jpfaqcomments.showAnswers" /></div>
    <div class="jpfaqHideAll jpfaqHide{categoryUid}"><f:translate key="tx_jpfaqcomments.hideAnswers" /></div>
  </div>

  <ul class="listCategory{categoryUid}">
    <f:for each="{questions}" as="question">
      <li>
	<h3 class="toggleQuestionTrigger">{question.question}</h3>
	<div class="toggleQuestionTriggerContainer{categoryUid}">
	  <div class="jpfaqAnswer"><f:format.html>{question.answer}</f:format.html></div>
	<div class="showCommentsTrigger"><f:translate key="tx_jpfaqcomments.showComments" /> (<f:count subject="{question.comments}" />)</div>
	  <div class="hideCommentsTrigger"><f:translate key="tx_jpfaqcomments.hideComments" /></div>
	  <div class="commentContainer">
	    <ul class="listComments">
	      <f:for each="{question.comments}" as="comment">
		<div class="jpfaqComment">{comment.comment}</div>
	      </f:for>
	    </ul>
	  </div>
	</div>
      </li>
    </f:for>
  </ul>

</f:section>
